     body {
      margin: 0px;
    }

    .jumbotron{
      
      min-height: 100vh;
      height: fit-content;
      width: 100vw;
      margin-bottom: 0;
    }
    
    .pointer {
      cursor: pointer;
    }
  
    .container > ul > li > a {
      height: 40px;
      color: rgb(34, 168, 155);
    }

    .container > ul > li > a:focus{
      height: 40px;
      background-color: rgb(34, 168, 155);
    }

    .container > ul > li > a:active{
      background-color: rgb(34, 168, 155);
    }

    .container form {
      background-color: transparent;
    }

    #topbar-and-nav {
      max-width: 1100px;
      margin: auto;
    }

    #container, #topbar {
      max-width: 1100px;
      margin: auto;
    }

    #container > div {
      margin: auto 5px;
    }
    
    #log-off {
      width: 30px;
      height: 30px;
      margin-right: 20px;
      background: url('images/logout_door1.png') ;
      background-size: cover;
      border: none;
      color: transparent;
    }
    
    
    #main-headline-log-off {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
    }

    #topbar {
      background-color:rgba(255, 255, 255, 0.514);
      overflow: hidden;
      align-items: baseline;
      z-index: 1;
    }

    #main-headline {
      color: grey;
      margin-left: 15px;
    }

    #toastMessage {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 99;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }
    
    #toastMessage.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;} 
      to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;} 
      to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }
    
    #flex-div {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      
    }

    #pie-div {
      background-color: rgba(233, 233, 233, 0.589);
      text-align: center;
      /* height: 100%; */
      margin-bottom: 20px;
      height: 57vw;
      max-height: 265px;
    }

    #pie {
      /* width: max-content; */
      /* height: max-content; */
      width: 400px;
      max-width: 80vw ;
      max-height: 48.8vw;
      margin: 10px;
    }

    /* The same css for all the tables in the website */
    
    table {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      max-width: 640px;
      margin: auto;
      border: solid 1px lightgray;
    }

    tr {
      border: transparent;
    }

    th,td {
      border-bottom: 1px solid lightgray;
    }

     td {
      padding: 8px;
      height: 46px;
      text-align: center;
    }

    /* the trash-bin icon at the end of each row in two of the tables */
    td > div:last-child {
      float: right;
      height: 19px;
      width: 25px;
      background: url("images/trash-bin.png") no-repeat;
    }

     tr:nth-child(even){background-color: #f2f2f2;}

     tr:hover {background-color: #ddd;}

     th {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: rgb(34, 168, 155);
      color: white;
    }

    #pop-up-button {
      border-radius: 10px;
      border: double thin rgb(34, 168, 155);
      margin-left: 5px;
      padding: 8px;
      color: rgb(34, 168, 155);
      text-decoration: none;
      width: 140px;
      height: 50px;
      font-weight: bold;
      position: relative;
      transition: all 0.3s ease-out;
      z-index: 0;
    }

    #pop-up-section button {
      border: double thin rgb(34, 168, 155);
      padding: 6px;
      color: rgb(34, 168, 155);
      text-decoration: none;
      font-size: small;
      font-weight: bold;
      position: relative;
      transition: all 0.3s ease-out;
    }

    #pop-up-button:hover ,#pop-up-section button:hover {
      border-color: white;
      color: white;
      background-color: rgb(34, 168, 155);
    }

    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.75);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
    }
    .overlay:target {
      visibility: visible;
      opacity: 1;
      z-index: 2;
    }

    #pop-up-section {
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      min-width: fit-content;
      max-width: 100%;
      border-style: double;
      position: fixed;
      background-color: white;
      transition: all 5s ease-in-out;
      padding: 30px;
    }

    #pop-up-section .close {
      position: absolute;
      top: 5px;
      right: 10px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }

    #pop-up-section > ul {
    width: fit-content;
    padding-left: 0;
  }

    #pop-up-section > ul > li {
      margin: 30px auto;
      list-style: none;
      width: 250px;
    }
    
    /*only the inputs of new-expense-form*/
    #pop-up-section > ul > li > input {
      padding-left: 0px;
    } 

    #pop-up-section > ul > li > input:placeholder-shown {
      content: "placeholder";
    }

    #pop-up-section > ul > li > input:placeholder-shown:focus{
      content: "focus";
    }
    
    /*including the input of all the categories*/
    #pop-up-section input {
      border-style: none none inset none;
    }

    #pop-up-section input:focus {
      outline-style: none;
      border-color: rgb(34, 168, 155);
    }

    #categories {
      margin-left: 50px;
      padding: 0px;
      display: none;
      width: fit-content;
      border: none;
      margin-top: 5px !important;
      
    }

    #categories > li{
      min-width: max-content;
      padding: 0px;
      display: block;
      list-style: none;
      border-bottom: inset;
      margin: 0px;

    }

    #categories > li:hover {
      background-color: rgb(188, 238, 233);
    }
    
    #categories > li:focus-within {
      background-color: antiquewhite;
    }

    #categories > li > label:focus {
      background-color: antiquewhite;
    }

    /*the radio box*/
    #categories > li > input {
      text-align: left;
      margin-left: 5px !important;
    }

    #categories > li > label {
      box-sizing: border-box; 
      width: 130px;
      margin: 0;
      padding: 5px  !important;
    }

    .deleteMe {
      float: right;
      text-align: right;
      padding: 5px;
    }

    /*the plus sign*/
    #add_category {
      width: 35px;
      height: 30px;
      margin: auto;
      padding-left: 5px;
      padding-bottom: 5px;
      align-self: center;
    }

    #add_category_input {
      margin: 5px;
      margin-left: 6px;;
      width: auto;
      color: rgba(0, 0, 255, 0.596);
      display: none;
    }

    #add-category-field-empty-message {
      display: none;
      text-align: center;
      outline-style: unset;
      outline-color: red;
      color: red;
      font-size: smaller;
    }

    #categories > button {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 5px;
    }
    
    .block {
      display: block;
    }

    .none {
      display: none;
    }

    #deleteUser {
      text-align: center;
    }

    #deleteUser > h5 {
      width: 450px;
      margin: auto;
    }

    #delete-user {  
      border-radius: 10px;
      border: double thin rgb(216, 68, 68);
      padding: 8px;
      color: rgb(216, 68, 68);
      text-decoration: none;
      width: 200px;
      height: 50px;
      font-weight: bold;
    }

    #delete-user:hover {
      border-color: white;
      color: white;
      background-color: rgb(216, 68, 68);
    }


    /* -------mostly on cellphones--------*/
    @media (max-width: 1087px) {
      
      #flex-div {
        display: block;
        text-align: center;
      }


      @media (max-width: 640px) {

        #main-headline {
          font-size: 130%;
        }

        #topbar-and-nav, #container  {
          margin:  auto 5px;
        }

        #topbar {
          margin-bottom: 10px;
          overflow: hidden;
          position: fixed;
          background-color: white;
          width: 100%;
        }

        #container {
          padding-top: 110px;
        }

        

        #hamburger {
          display: block;
          background: url("images/hamburger1.png") no-repeat;
          margin-top: 10px;
          margin-bottom: 0px;
          margin-left: 10px;
          width: 40px;
          height: 40px;
          background-color: transparent;
          border-style: none;
        }

        #hamburger:focus {
          outline: 0;
        }

        #pie-div {
          height: 57vw;
          max-height: 265px;
        }


        #deleteUser > h5 {
          max-width: 100%;
        }
        
        /* when the screen is really narrow */
        @media (max-width: 319px) {

          #pop-up-section h4{
            font-size: 115%;
          }

          #pop-up-section > ul > li {
            margin: 15px auto;
            width: 120px;
            font-size: smaller;
          }

          #categories {
            margin-left: 0px;
          }

          table {
            font-size: smaller;
          }

        }

        /*only when there is a hover option, not on touch screens, for example */
        @media not all and (pointer: coarse) {
        
          #hamburger:hover {
            background-image: url("images/hamburger2.png") ;
          }
    
        }

        #hamburger.active {
          background-image: url("images/hamburger2.png") ;
        }

        

        #nav-menu {
          margin-top: 20px;
          display: none;
          flex-direction: column;
        }  

        .nav-button {
          float: left;
          display: block;
          color: grey;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
          border-bottom:solid thin rgba(128, 128, 128, 0.575);
        }
        
        .nav-button:hover {
          background-color: rgb(255, 255, 255);
          text-decoration: none;
          color: rgb(55, 192, 178);
        }

        .active {
          background-color: rgb(255, 255, 255);
          color: rgb(55, 192, 178);
        }
      }

    }
    
    /* display only on computers*/
    @media (min-width: 641px) {

      .topbar-text {
        max-width: 1300px;
        margin: 0 auto;
      }

      #topbar .toggleNavMenu {
        display: none;
      }

      #topbar {
        margin-bottom: 10px;
        overflow: hidden;
        position: fixed;
        background-color: white;
        width: 100%;
      }

      #nav-menu {
        height: 100px;
        display: flex;
        flex-direction: row;
      }

      .nav-button {
        display: block;
        min-width: 30px;
        height: 35px;
        margin: 60px 0% 5vh 0vw;
        padding: 0.5vh 4.5vw 0vh 4.4vw;
        border-right: thin rgba(128, 128, 128, 0.527) inset;
        background-color: rgb(255, 255, 255);
        color: grey;
      }

      .nav-button:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(55, 192, 178);
      }

      .nav-button:link {
        text-decoration: none;
      }

      .active {
        padding-bottom: 0vh;
        color: rgb(55, 192, 178);
      }

      #container {
        padding-top: 200px;
      }


    }

