
#website-technology {
    padding-left: 0;
}

li {
    padding-top: 6px;
}

#website-user-abilities {
    padding-left: 20px;
}

.carousel {
    /* max-width: 100vw; */
}

.carousel-control.left, .carousel-control.right, .carousel-control.left:focus, .carousel-control.right:focus {
    background: none !important;
    color: black;
    opacity: 0.8;
    filter: none !important;
    outline: 0;
    margin: 5px;
}

@media not all and (pointer: coarse) {
    .carousel-control.left:hover, .carousel-control.right:hover {
        color: rgba(0, 206, 209, 0.438);
    }
}
  
.icon{
    font-size: 150% !important;
    text-decoration: aliceblue;
}

@media (max-width: 991px) {
    #dana-boyko-pic { max-width: 250px; position: absolute; right: 10px; top: -30px; z-index: 1; }
    #dana-boyko-text { padding: 0 20px; position: relative; top: 150px; margin-bottom: 170px;}
    
    @media (max-width: 490px) {
        #dana-boyko-pic { max-width: 250px; position: relative; }
        #dana-boyko-text { padding: 0 20px; position: relative; top: 0px; margin-bottom: 20px;}
    }
}

@media (min-width: 991px) {
    #dana-boyko-pic { max-width: 100%; position: relative; left: 50px; z-index: 1;  }
    #dana-boyko-text { padding: 0 50px ; margin-bottom: 30px; }
}